.header-container {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 70px;
	background: linear-gradient(135deg, rgb(161 174 155), rgba(91, 116, 81, 1));
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0;
	z-index: 1000;
}

.header-section {
	flex: 1;
	display: flex;
	align-items: center;
}

.left-section {
	justify-content: flex-start;
	padding-left: 20px;
}

.center-section {
	justify-content: center;
}

.right-section {
	justify-content: flex-end;
	padding-right: 20px;
}

.menu-icon {
	font-size: 24px;
	cursor: pointer;
	background: none;
	border: none;
}

.menu-icon i {
	color: #fff;
}

.page-title {
	a {
		font-size: 20px;
		font-weight: bold;
		text-align: center;
		text-decoration: none;
		color: inherit;
	}
}

.cart-icon {
	position: relative;
	margin-left: 15px;
}

.cart-icon i {
	font-size: 24px;
	color: #fff;
}

.cart-link {
	text-decoration: none;
	color: inherit;
}

.cart-count {
	position: absolute;
	top: -5px;
	right: -10px;
	background-color: red;
	color: white;
	padding: 2px 5px;
	border-radius: 50%;
	font-size: 12px;
}
