.no-header .main-content {
	margin-top: 0;
	height: 100vh;
}

.page-title {
	font-size: 16px;
	font-weight: bold;
}

.menu-icon,
.header-right {
	cursor: pointer;
}

.main-content {
	margin-top: 50px;
	height: calc(100vh);
	overflow-y: auto;
	background: linear-gradient(195deg, rgba(178, 217, 160, 0.17), rgba(91, 116, 81, 1));
	@media (min-width: 768px) {
		margin-top: 130px /* header-height + menu-height */;
		padding: 0px;
	}
}
