.products-container {
	background: linear-gradient(195deg, rgba(178, 217, 160, 0.17), rgba(91, 116, 81, 1));
	.search {
		width: auto;
	}
	padding: 20px;
	.product-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 20px;

		.product-item {
			width: auto;

			@media (min-width: 768px) {
				max-width: 250px;
			}
			mat-card-content {
				img {
					margin: 0;
					max-height: 218px;
				}
			}
		}
	}
}

mat-card {
	transition: transform 0.3s ease;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	height: 440px;
	border-radius: 4px;
	background: linear-gradient(1deg, rgb(239 240 238 / 19%), rgb(35 58 26 / 10%));
}

mat-card:hover {
	transform: translateY(-5px);
}

mat-card-image {
	height: 200px;
	object-fit: cover;
}
