.products-container {
	padding: 20px;
	.product-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		gap: 20px;
		padding: 20px;

		.product-item {
			width: auto;
			@media (min-width: 768px) {
				width: 32%;
			}
			mat-card-content img {
				height: 200px;
				left: 15%;
			}
		}
	}
}

mat-card {
	transition: transform 0.3s ease;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	height: 400px;
}

mat-card:hover {
	transform: translateY(-5px);
}

mat-card-image {
	height: 200px;
	object-fit: cover;
}
