<div class="products-container">
	<div>
		<h1>search out of {{ products.length }} products</h1>
	</div>
	<div class="product-list">
		<div *ngFor="let product of products" class="product-item">
			<mat-card class="product-card">
				<mat-card-content (click)="viewProductDetails(product.id)">
					<img mat-card-image [src]="product.imageUrl" alt="{{ product.name }}" />
					<h3 mat-card-title>{{ product.name }}</h3>
					<p>{{ product.description }}</p>
					<p>
						<strong>${{ product.price }}</strong>
					</p>
				</mat-card-content>
				<mat-card-actions>
					<button mat-raised-button color="primary" (click)="addToCart(product)">
						Add to Cart
					</button>
				</mat-card-actions>
			</mat-card>
		</div>
	</div>
</div>
