<app-header [showMenu]="true" [pageTitle]="'Home'"></app-header>
<div class="products-container">
	<div class="search">
		<app-search
			[placeholder]="'Search products...'"
			[(searchTerm)]="searchTerm"
			(searchTermChange)="filterProducts($event)">
		</app-search>
	</div>
	<div class="product-list">
		<div *ngFor="let product of filteredProducts" class="product-item">
			<mat-card class="product-card">
				<mat-card-content (click)="viewProductDetails(product.id)">
					<div class="image">
						<img mat-card-image [src]="product.images[0]" alt="{{ product.name }}" />
					</div>
					<div class="content">
						<h3 mat-card-title>{{ product.name }}</h3>
						<p>{{ product.author }}</p>

						<p>
							<span><i class="fa fa-star"></i></span>
							<strong>{{ product.rating }}</strong>
						</p>
						<p class="cart">
							<strong>£{{ product.price }}</strong>
							<button (click)="addToCart(product)">Add to Cart</button>
						</p>
					</div>
				</mat-card-content>
			</mat-card>
		</div>
	</div>
</div>
