.products-container {
	/* background: linear-gradient(195deg, rgba(178, 217, 160, 0.17), rgba(91, 116, 81, 1)); */
	background-color: transparent;
	.row {
		display: flex;
		flex-direction: row-reverse;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		padding: 0px 4%;
		.search {
			width: auto;
		}
		.category-display h1 {
			font-size: 30px;
			padding-bottom: 25px;
			position: relative;
			font-weight: 400;
			text-transform: capitalize;
		}
	}

	padding: 20px;
	.product-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 20px;

		.product-item {
			width: auto;

			@media (min-width: 768px) {
				width: 250px;
				height: 500px;
			}
			mat-card-content {
				display: flex;
				padding: 16px;
				flex-direction: column;
				flex-wrap: nowrap;
				justify-content: center;
				align-items: center;

				img {
					margin: 0;
					height: 250px;
				}

				.content {
					width: 180px;
				}
			}
			.cart {
				justify-content: space-between;
				display: flex;
				align-items: center;
				button {
					background: linear-gradient(
						180deg,
						rgb(178 217 160 / 32%),
						rgb(91 116 81 / 68%)
					);
					color: #174b17;
					box-shadow: none;
					border: 1px solid #1e7e1ea3;
					border-radius: 20px;
					padding: 5px 15px;
				}
			}
		}
	}
}

mat-card {
	transition: transform 0.3s ease;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	height: 440px;
	border-radius: 4px;
	background: linear-gradient(1deg, rgb(239 240 238 / 19%), rgb(35 58 26 / 10%));
}

mat-card:hover {
	transform: translateY(-5px);
}

mat-card-image {
	height: 200px;
	object-fit: cover;
}

.category-list {
	display: flex;
	justify-content: flex-start;
	gap: 10px;
	margin-bottom: 20px;

	button {
		background-color: #e0e0e0;
		border: none;
		padding: 10px 15px;
		border-radius: 5px;
		cursor: pointer;
		transition: background-color 0.3s;

		&:hover {
			background-color: #d1d1d1;
		}
	}
}

.search-title {
	margin-right: 10px;
	font-weight: bold;
}
