<div
	class="menu-overlay"
	*ngIf="isMenuOpen"
	(click)="onOverlayClick()"
	(keydown.enter)="closeMenu()"
	tabindex="0">
	<div class="menu-content">
		<button class="close-btn" (click)="closeMenu()" (keydown.enter)="closeMenu()">✕</button>

		<ul class="menu-items">
			<li><a routerLink="/dashboard" routerLinkActive="active" tabindex="0">Dashboard</a></li>
			<li><a routerLink="/products" routerLinkActive="active" tabindex="0">Products</a></li>
			<li><a routerLink="/cart" routerLinkActive="active" tabindex="0">Cart</a></li>
			<li><a routerLink="/profile" routerLinkActive="active">Profile</a></li>
			<li>
				<button *ngIf="username; else loginLink" (click)="onLogout()">Logout</button>
				<ng-template #loginLink>
					<a routerLink="/login">Login</a>
				</ng-template>
			</li>
		</ul>
	</div>
</div>
