<nav class="main-nav">
    <div class="nav-container">
        <ng-container *ngFor="let item of navItems; let i = index">
            <div class="nav-item" [class.has-dropdown]="item.children">
                <a [routerLink]="item.link"
                   [class.active]="isItemActive(i)"
                   [class.parent-active]="isParentActive(i)"
                   (click)="handleNavClick($event, i)">
                    {{ item.label }}
                    <span *ngIf="item.children" class="arrow">
                        {{ activeDropdown === i ? '▲' : '▼' }}
                    </span>
                </a>

                <div *ngIf="activeDropdown === i && item.children && !isNavigating"
                     class="dropdown-content">
                    <ng-container *ngFor="let child of item.children; let j = index">
                        <a [routerLink]="child.link"
                           [class.active]="isChildActive(i, j)"
                           (click)="handleChildClick(i, j)">
                            {{ child.label }}
                        </a>
                    </ng-container>
                </div>
            </div>
        </ng-container>
    </div>
</nav>
