.cart-items {
	padding: 24px;
    height: auto;
    max-height: 412px;
    overflow-y: auto;
    border: 1px solid #6b81612b;
    border-radius: 8px;
    background: #9dab97;
    box-shadow: 8px 8px 21px #4f4f4f38;
}
.cart-title {
	font-size: 24px;
	font-weight: 500;
	margin: 20px 0;
	color: #333;
	display: flex;
	justify-content: center;
}
ul {
	list-style: none;
	padding: 0;
}

.cart-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #e0e0e0;
}

.item-details {
	display: flex;
	align-items: center;
	gap: 20px;
}

img {
	width: 60px;
	height: auto;
	border: 1px solid #e0e0e0;
	border-radius: 5px;
}

.product-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.product-name {
	font-weight: bold;
	font-size: 16px;
	color: #333;
}

.product-price {
	font-size: 14px;
	color: #666;
}

.quantity-total {
	display: flex;
	align-items: center;
	gap: 20px;
}

.quantity {
	display: flex;
	align-items: center;
	gap: 10px;
}

.quantity-btn {
	background-color: #f4f4f4;
	border: 1px solid #ccc;
	padding: 5px 10px;
	cursor: pointer;
	font-size: 16px;
	border-radius: 5px;
}

.quantity-value {
	font-weight: bold;
	font-size: 16px;
	width: 30px;
	text-align: center;
}

.total-price {
	font-weight: bold;
	margin: 0;
}

.remove-button {
	background: none;
	border: none;
	font-size: 24px;
	color: red;
	cursor: pointer;
}


.cart-total {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 10px 0px;
	margin-top: 20px 0px;
	border-bottom: 1px solid #e0e0e0;
}

.total-amount p {
	font-weight: bold;
	font-size: 16px;
}

.total-amount {
	display: flex;
	align-items: center;
	gap: 20px;
}

.empty-cart-container {
	text-align: center;
	padding: 60px 0;
}

.empty-cart-message {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 12px;
	margin-bottom: 40px;
	padding: 20px;
	background-color: #c0ccc3a1;
	border-top: 2px solid #51704552;
	border-bottom: 2px solid #51704552;
}

.basket-icon {
	color: #333;
}

.empty-cart-message p {
	margin: 0;
	color: #434343;
	font-size: 18px;
}

.return-button {
	display: inline-block;
	padding: 12px 24px;
	background-color: #2f4f4f !important;
	color: white;
	text-decoration: none;
	font-size: 14px;
	letter-spacing: 1px;
	transition: background-color 0.2s ease;
}

.return-button:hover {
	background-color: #1a2e2e;
}


.stepper-button {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	margin-top: 16px;
	button {
		background-color: #1a2e2e;
		font-size: 18px;
	}
}